{% extends "base.html" %}

{% block content %}


    <h2>Categories</h2>
    <a href="{{ url_for('edit_categories', category_id = 0) }}">Create new category</a>

<div class="container m-2 mw-100">
  <div class="row">
    {% for category in level_1_categories %}
    <div class="col-lg-4">
      <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <th>Level 1</th>
            <th>Level 2</th>
            <th>Action</th>
        </thead>
        <tbody>
            
            <tr>
                <td>{{ category.name }}</td>
                <td></td>
                <td><a href="{{ url_for('edit_categories', category_id = category.id) }}">Edit</a></td>
            </tr>
            {% for category2 in category.children %}
            <tr>
                <td></td>
                <td>{{ category2.name }}</td>
                <td><a href="{{ url_for('edit_categories', category_id = category2.id) }}">Edit</a></td>
            </tr>

            {% endfor %}
            
        </tbody>

    </table>
</div>
</div>
{% endfor %}

<div class="col-lg-4">
  <div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <th>Level 3</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for category in level_3_categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td><a href="{{ url_for('edit_categories', category_id = category.id) }}">Edit</a></td>
        </tr>  
        {% endfor %}     
    </tbody>

</table>
</div>
</div>

</div>
</div>




{% endblock %}